.landing {
    height: 100vh;
    background: var(--background1);
}

.landing__img {

    background-image: url("../../images/food1.jpg");
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 40vh;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    background-position: 65% 50%;
    /* Ajusta la altura según tus necesidades */

}

.landing h1 {
    font-family: var(--font);
    color: #fff;
    font-weight: lighter;
    font-size: 60px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    text-shadow: black 2px 5px;
}

.enter__button {
    font-family: var(--font2);
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 48px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 35px;
    text-align: center;
    box-shadow: 5px 5px;
    display: block;
    width: fit-content;
    margin: 30% auto 0px;
}

.enter__button:hover {
    transition: .3s;
    box-shadow: none
}