.container__filter {
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Jua', sans-serif;
    font-size: 24px;
}

.filter__title {
    padding: 5px 10px;
}

.container__filter select {
    width: 100%;
    margin: 5px 10px;
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    color: #514F4F;
}