.container__search {
  width: 80%;
  max-width: 290px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  display: flex;
  padding: 6px 10px;
  gap: 10px;
}

.container__search i {
  font-size: 20px;
  color: #17729f;
}

.container__search input {
  border: 0;
}