.container__sort {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    font-family: 'Jua', sans-serif;
}

.container__sort .sort__title {
    font-size: 24px;
    padding: 5px 10px;
}

.container__sort div {
    width: 40%;
    color: #514F4F;
    padding: 5px 0px;
}

.container__sort div:first-of-type {
    border-right: 1px solid black;
}